---
import { Image } from "astro:assets";
import tour1 from "../assets/tour-1.png"; // Image is 360x360
---

<style>
  .tours {
    padding: 50px 20px;
  }

  .tour-slider-container {
    position: relative;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    gap: 30px;
    overflow-x: auto; /* Горизонтальная прокрутка */
    scroll-behavior: smooth; /* Плавная прокрутка */
    margin: 40px 0 100px 0;
    padding: 10px;
    white-space: nowrap; /* Предотвращает перенос карточек на новую строку */
  }

  .tour-card {
    flex: 0 0 auto; /* Фиксирует размер карточки */
    width: 360px;
  }

  .tour-card img {
    width: 100%; /* Убедитесь, что изображение адаптируется к ширине карточки */
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .tour-card h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .tour-card p {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 18px;
  }

  .tour-card button {
    padding: 10px 15px;
    background: white;
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
  }

  .tour-card button:hover {
    background: #218838;
    color: white;
  }

  .tour-card_description {
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
  }

  .slider-button {
    position: absolute;
    top: 35%; /* Вертикальное центрирование */
    transform: translateY(-50%); /* Корректное центрирование */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    z-index: 1000; /* Поверх карточек */
    font-size: 30px;
  }

  .slider-button.left {
    left: -50px;
  }

  .slider-button.right {
    right: -50px;
  }

  @media (max-width: 952px) {
    .tour-card {
      padding: 20px 0;
    }

    .slider-button {
      display: none;
    }
  }

  @media (max-width: 482px) {
    .tour-card {
      width: 90%;
    }
  }
</style>

<section class="tours">
  <h2>Фотоохота с профессиональными гидами</h2>
  <p>
    А если у Вас не получается поймать Северное сияние самостоятельно или Вы
    приехали с этой целью в северные широты и очень ограничены по времени, то Вы
    можете обратить за помощью к гидам и туроператорам, которые занимаются этим
    профессионально.
  </p>

  <div class="tour-slider-container">
    <button class="slider-button left" id="slideLeft">&#8249;</button>

    <div class="cards" id="slider">
      <div class="tour-card">
        <Image src={tour1} alt="Тур" />
        <div class="tour-card_description">
          <h3>Северное сияние</h3>
          <p>Мурманская область. Очень классный тур</p>
          <button>Подробнее</button>
        </div>
      </div>

      <div class="tour-card">
        <Image src={tour1} alt="Тур" />
        <div class="tour-card_description">
          <h3>Северное сияние</h3>
          <p>Мурманская область. Очень классный тур</p>
          <button>Подробнее</button>
        </div>
      </div>

      <div class="tour-card">
        <Image src={tour1} alt="Тур" />
        <div class="tour-card_description">
          <h3>Северное сияние</h3>
          <p>Мурманская область. Очень классный тур</p>
          <button>Подробнее</button>
        </div>
      </div>

      <div class="tour-card">
        <Image src={tour1} alt="Тур" />
        <div class="tour-card_description">
          <h3>Северное сияние</h3>
          <p>Мурманская область. Очень классный тур</p>
          <button>Подробнее</button>
        </div>
      </div>

      <div class="tour-card">
        <Image src={tour1} alt="Тур" />
        <div class="tour-card_description">
          <h3>Северное сияние</h3>
          <p>Мурманская область. Очень классный тур</p>
          <button>Подробнее</button>
        </div>
      </div>
    </div>
    <button class="slider-button right" id="slideRight">&#8250;</button>
  </div>
</section>

<script is:inline>
  {
    const slider = document.getElementById("slider");
    const slideLeft = document.getElementById("slideLeft");
    const slideRight = document.getElementById("slideRight");

    // Прокрутка влево
    slideLeft.addEventListener("click", () => {
      slider.scrollBy({ left: -380, behavior: "smooth" });
    });

    // Прокрутка вправо
    slideRight.addEventListener("click", () => {
      slider.scrollBy({ left: 380, behavior: "smooth" });
    });
  }
</script>
