---
import { useAstroTranslations, useAstroLocale } from "../../i18n/utils";
import { getImage, Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import auroraback_mb from "../../assets/auroraback_mb.png";
import article1 from "../../assets/moscow1.png";
import article2 from "../../assets/article2.png";
import article3 from "../../assets/aurora-spb_1.png";
import article4 from "../../assets/aurora-Murmansk-1.png";
import article5 from "../../assets/Aurora-forecast_1.png";
import quota from "../../assets/quota.png";
const auroraBackMbImageUrl = `url(${(await getImage({ src: auroraback_mb })).src})`;
import auroraback from "../../assets/auroraback.png";
const auroraBackImageUrl = `url(${(await getImage({ src: auroraback })).src})`;
const t = useAstroTranslations(Astro);
const l = useAstroLocale(Astro);
---

<style define:vars={{ auroraBackMbImageUrl, auroraBackImageUrl }}>
  #description {
    background-image: var(--auroraBackMbImageUrl);
  }
  @media (min-width: 768px) {
    #description {
      background-image: var(--auroraBackImageUrl);
    }
  }
  .description h1 {
    font-family: "SongerGrotesqueBold";
    font-size: 64px;
  }

  .description h2 {
    font-family: "SongerGrotesqueBold";
    font-size: 24px;
    margin: 60px 0 85px 0;
  }

  .description p {
    margin: 0 auto;
    font-size: 16px;
    /* line-height: 1.5; */
    text-align: left;
  }

  .description a {
    margin: 0 auto;
    text-align: left;
  }

  .cards_blog {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(360px, 1fr)
    ); /* 3 карточки по 300px, адаптивно */
    gap: 30px;
    justify-content: center;
    margin: 40px auto;
    padding-bottom: 30px;
    justify-items: center;
  }

  .tour-card_blog {
    flex: 0 0 auto;
    width: 360px;
    box-shadow: 10px 10px 10px #00000040;
    background-image: linear-gradient(#ffffff99, #ffffff00);
    border-radius: 20px;
    margin: 0 0 10px 0;
  }

  .tour-card_blog img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .tour-card_blog h3 {
    font-family: "SongerGrotesqueBold";
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
  }

  .tour-card_blog p {
    line-height: 1.4;
    font-size: 18px;
  }

  .tour-card_blog a {
    padding: 10px 15px;
    background: white;
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
    width: 190px;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .tour-card_blog a:hover {
    background: #18a5bf;
    color: white;
  }

  .tour-card_description_blog {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin: 0;
  }
  .title {
    margin: 20px 0 10px 0;
    padding-left: 10px;
  }
  .tour_price {
    margin-bottom: 16px;
    padding-left: 10px;
  }
  .text {
    margin: 35px 0 20px;
    font-size: 18px;
    padding-left: 10px;
  }

  @media (max-width: 952px) {
    .tour-card_blog {
      /* padding: 20px 0; */
    }
  }
  @media (max-width: 482px) {
    .tour-card_blog {
      width: 100%;
    }
  }

  @media (max-width: 510px) {
    .description h1 {
      line-height: 68px;
      font-size: 52px;
    }

    .description h2 {
      margin: 50px 0 55px 0;
    }
  }
</style>

<section
  class="description bg-contain bg-[center_50px] bg-no-repeat pt-[80px] pb-[40px] text-center md:bg-[0px_20px]"
  id="description"
>
  <h1>Блог о северном сиянии</h1>
  <h2>Рассказываем, показываем, общаемся</h2>
  <p>
    Кто может рассказать о северном сиянии лучше, чем те, кто вырос за Полярным
    кругом и с детства видел, как оно зажигается в небе?
  </p>

  <div
    class="mt-[80px] flex flex-col justify-evenly rounded-[30px] bg-[#E9E9E9] p-[20px] text-black sm:flex-row"
  >
    <div class="flex w-[20px] items-center justify-center sm:w-[50px]">
      <Image src={quota} alt="Цитата" />
    </div>
    <div class="mt-2 w-[100%] text-left sm:w-[80%]">
      Я отчетливо помню, как впервые увидела яркое сияние. Это было в Мурманской
      области, в моём родном городе. Я гуляла во дворе, и вдруг небо вспыхнуло
      переливающимися огнями. Я просто легла на сугроб и смотрела в небо,
      потеряв счёт времени. Это было так удивительно: яркие полосы на небе
      сливались в единую картину и всё время перемещались и меняли свои цвета.
      (с) Надежда, Polarlights
    </div>
  </div>
</section>

<section class="tours pt-[20px] pb-[100px]">
  <div class="cards_blog">
    <div class="tour-card_blog">
      <Image src={article5} alt="Статья" />
      <div class="tour-card_description_blog">
        <div class="title"><h3>Большой прогноз сияния</h3></div>
        <div class="text">
          Узнайте, где и когда лучше наблюдать сияние и почему сейчас — лучший
          момент
        </div>
        <div class="pl-[10px]">
          <a href={getRelativeLocaleUrl(l, "/blog/aurora-murmansk")}>Читать</a>
        </div>
      </div>
    </div>
    <div class="tour-card_blog">
      <Image src={article4} alt="Статья" />
      <div class="tour-card_description_blog">
        <div class="title"><h3>Северное сияние в Мурманске</h3></div>
        <div class="text">
          Северное сияние в Мурманске — лучшее место для наблюдения в России
        </div>
        <div class="pl-[10px]">
          <a href={getRelativeLocaleUrl(l, "/blog/aurora-murmansk")}>Читать</a>
        </div>
      </div>
    </div>
    <div class="tour-card_blog">
      <Image src={article3} alt="Статья" />
      <div class="tour-card_description_blog">
        <div class="title"><h3>Северное сияние в СПб</h3></div>
        <div class="text">
          Можно ли увидеть северное сияние в СПб? Узнайте, при каком индексе оно
          появляется и где его искать.
        </div>
        <div class="pl-[10px]">
          <a href={getRelativeLocaleUrl(l, "/blog/aurora-saint-petersburg")}
            >Читать</a
          >
        </div>
      </div>
    </div>

    <div class="tour-card_blog">
      <Image src={article1} alt="Статья" />
      <div class="tour-card_description_blog">
        <div class="title"><h3>Северное сияние в Москве</h3></div>
        <div class="text">
          Можно ли увидеть северное сияние и что надо делать Москвичам для
          удачного поиска Авроры...
        </div>
        <div class="m-[20px 0] pl-[10px]">
          <a href={getRelativeLocaleUrl(l, "/blog/aurora-moscow")}>Читать</a>
        </div>
      </div>
    </div>

    <div class="tour-card_blog">
      <Image src={article2} alt="Статья" />
      <div class="tour-card_description_blog">
        <div class="title"><h3>О северном сиянии</h3></div>
        <div class="text">
          Северное сияние: что это такое, где искать и как наблюдать. Советы от
          опытных охотников.
        </div>
        <div class="pl-[10px]">
          <a href={getRelativeLocaleUrl(l, "/blog/about-aurora")}>Читать</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-left">
    <a
      class="font-[SongerGrotesqueBold] text-[24px] font-bold underline underline-offset-2"
      href="/">Перейти на главную страницу с картой и вероятностью</a
    >
  </div>
</section>
